<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculo</title>
</head>
<body>

    <a href="/aluno">Aluno</a>
    <a href="/reajuste">Reajuste</a>

    <h1><%= numero1 %> + <%= numero2 %> = <%= adicao %></h1>
    <h1><%= numero1 %> - <%= numero2 %> = <%= subtracao %></h1>
    <h1><%= numero1 %> * <%= numero2 %> = <%= multiplicacao %></h1>
    <h1><%= numero1 %> / <%= numero2 %> = <%= divisao %></h1>
    

    
</body>
</html>